@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
}

/* shared styles */
.noto-serif {
    font-family: Noto-serif;
}

/* nav section start */
nav {
    margin: 0 auto;
    margin-top: 30px;
}

nav ul {
    margin-left: 590px;
}

/* hero section */
.hero-section {
    margin: 120px auto;
}

.banner-description {
    color: rgba(0, 0, 0, 0.5);
}

/* our plants section */
.our-plants-section {
    margin: 0 auto 210px auto;
}

.our-plants-div {
    width: 850px;
    margin: 0 auto;
}

.our-plants-description {
    color: rgba(0, 0, 0, 0.5);
}

.our-plants-card {
    margin-top: 49px;
}

.our-plants-card div img {
    margin-bottom: 30px;
}

.our-plants-card div button {
    margin-top: 30px;
    padding: 19px 80px;
}

/* plants lovers */
.plants-lovers-section {
    margin: 0 auto;
    margin-bottom: 133.88px;
    gap: 60px;
}

.plants-lover-descriotion {
    color: rgba(0, 0, 0, 0.5);
}

.plants-lovers-section ul li {
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 30px;
}

.love-title {
    margin-bottom: 1.25rem;
}

/* latest deal section */
.latest-container{
    margin: 0 auto;
}
.latest-deal-title {
    text-align: center;
}

.latest-deal-title h2 {
    margin-bottom: 16px;
}

.latest-deal-title p {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    width: 850px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.latest-img-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 25px;
    column-gap: 28px;
    margin: 120px 350px;
}

.promo {
    color: white;
    padding: 20px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.bloom {
    grid-column: 1;
    grid-row: 1;
    background-image: url('./assets/deal-bloom.png');
    width: 367px;
    height: 201px;
    justify-content: center;
    align-items: center;
}

.ana {
    grid-column: 1;
    grid-row: 2;
    background-image: url('./assets/deal-ana.png');
    width: 367px;
    height: 197px;
    justify-content: center;
    align-items: center;
}

.zabo {
    grid-column: 2;
    grid-row: 1 / span 2;
    background-image: url('./assets/deal-zabo.png');
    width: 753px;
    height: 423.12px;
    justify-content: center;
    align-items: center;
}

/* join section */
.subscribe-section {
    background-image: url(./assets/news-letter-bg.png);
    background-size: cover;
    background-position: center;
    padding: 199px 305px;
    text-align: center;
    color: white;
}

.subscribe-section h1 {
    font-size: 3.125rem;
    font-weight: bold;
    margin-bottom: 1.4375rem;
}

.subscribe-form {
    display: flex;
    justify-content: center;
}

.subscribe-form input {
    background-color: #FFFFFF;
    padding: 15.5px 540px 15.5px 20px;
}

.subscribe-form input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.subscribe-form button {
    font-weight: 600;
    color: white;
    padding: 19px 53.5px;
    background-color: #E95A08;
}

/* footer section start */
.footer-container {
    margin: 50px auto;
    max-width: 1120px;
    gap: 110.67px;
}

.footer-title {
    color: rgba(0, 0, 0, 0.5);
}

.footer-link {
    margin-bottom: 32px;
}

.footer-icon {
    margin-top: -240px;
}

.footer-log {
    margin-top: -30px;
    margin-bottom: 17px;
    margin-left: -20px;
}



/* mobile responsive start */
@media screen and (max-width: 576px) {

    /* nav section */
    .mobile-device {
        display: none;
    }

    nav {
        margin: 13px 16px 28px 16px;
    }

    nav img {
        width: 63px;
        height: 38px;
    }

    /* hero section */
    .banner-container {
        margin-left: 16px;
        margin-right: 16px;
    }

    .hero-section {
        flex-direction: column-reverse;
    }

    .banner-title {
        font-size: 24px;
    }

    .banner-img {
        margin-bottom: 28px;
    }

    .banner-description {
        margin-top: 13px;
    }

    /* our plants section */
    .our-plants-section {
        margin: 0 auto 41.5px auto;
    }

    .our-plants-div {
        width: 336px;
        margin: 0 28.5px;
    }

    .our-plants-card {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 28px;
        margin-left: 14px;
        margin-right: 17px;
        row-gap: 20px;
        column-gap: 29.5px;
    }

    .our-plants-card div button {
        padding: 19px 30.5px;
        font-size: 16px;
    }

    .our-plants-card h3,
    p {
        font-size: 16px;
    }

    .plants-lovers-section {
        flex-direction: column;
        margin: 0 17px;
    }

    /* join section */
    .subscribe-section {
        padding: 110px 36px 64.5px 36px;
    }

    .subscribe-section h1 {
        font-size: 20px;
    }

    .subscribe-form input {
        padding: 19px 70px 19px 15px;
    }

    .subscribe-form button {
        padding: 19px 10px;
    }

    /* footer container */
    .footer-container {
        display: block;
        margin-left: 30px;
    }

    .footer-icon {
        margin-top: 20px;
    }

    .footer-log {
        width: 180px;
        margin-bottom: 60px;
    }

}